:root {
  --background: #242424;
  --highlight: #1A1A1A;
  --white: #F8F8F2;
  --placeholder: #868681;
  --user-chatbox: #4A4343;
  --model-chatbox: #131212;
  --outer-margin: 21px;
}

.reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: var(--background);
  height: 250px;
  border-radius: 13px;
}

html, body {
  width: 400px;
}

header {
  border-bottom: 1px solid var(--highlight);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 var(--outer-margin);
  padding-block: 5px;
}

.title-wrapper {
  min-width: 50%;
  border-radius: 9px;
  cursor: text;
  border: 1px solid transparent;
  color: var(--placeholder);
  padding: 2px 8px;
  height: 20px;
}

.title-wrapper > * {
  font-size: 1.1rem;
  font-weight: 100;
  margin: 0;
  color: var(--white);
  height: inherit;
}

.title-wrapper_input {
  font-size: 1rem;
  background: none;
  border: 0;
  font-weight: 600;
  outline: none;
}

.title-wrapper:hover {
  border-color: var(--white);
}

.header_button {
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
}

.chat-wrapper {
  margin: 0 var(--outer-margin);
}

.text-boxes-wrapper {
  height: 155px;
}

.chat-input-wrapper {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-input-wrapper > input {
  width: 100%;
  margin-right: 15px;
  padding: 8px 10px;
  font-size: 1rem;
  border-radius: 13px;
  background-color: var(--highlight);
  color: var(--white);
  outline: none;
  border: none;
  font-weight: bold;
}